.input-group {
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-info {
  font-weight: bold;
  font-style: italic;
}

form {
  margin: 0 auto;
  padding: 20px;
}

legend {
  background-color: gray;
  color: white;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}
